import React, { Component } from 'react'
import PropTypes from 'prop-types'
import { Container } from './styles'
import './{{pascalCase name}}.scss'

class {{pascalCase name}} extends Component {
  constructor(props){
    super(props)
    this.state = {

    }
  }

  render(){
    return(
      <Container>
        <div className="{{pascalCase name}}">{{ pascalCase name }}</div>
      </Container>
    )
  }
}

{{pascalCase name}}.defaultProps = {

}

{{pascalCase name}}.propTypes = {

}

export default {{pascalCase name}}