import React from 'react'
import PropTypes from 'prop-types'

import { Container } from './styles'
import './{{pascalCase name}}.scss'

const {{pascalCase name}} = props => {
  return (
    <Container>
      <div className="{{pascalCase name}}">{{ pascalCase name }}</div>
    </Container>
  );
};

{{pascalCase name}}.defaultProps = {

}

{{pascalCase name}}.propTypes = {

}

export default {{pascalCase name}}